.welcome-buttons {
  margin-top: 200px;
}
/* Responsive styling for smaller screens */
@media (max-width: 600px) {
  .welcome-buttons {
    margin-top: 80px;
  }
}
@media (max-width: 300px) {
  .welcome-buttons {
    margin-top: 50px;
  }
}
