<!DOCTYPE html/>
<!-- src/app/movie-card/movie-card.component.html -->

<div *ngIf="isUserLoggedIn()">
  <div class="sticky-wrapper">
    <div class="page-title" fxLayoutAlign="center center">
      <h1>THEFLIX Movies</h1>
    </div>
  </div>
  <div class="movie-card" style="display: flex">
    <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>

        <mat-card-subtitle
          >Directed by: {{ movie.director.name }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        class="movie-image"
        src="{{ movie.imageURL }}"
        alt="{{ movie.title }}"
        (click)="openMovieDetails(movie)"
      />
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          (click)="openGenreDetails(movie.genre)"
        >
          Genre
        </button>
        <button
          mat-button
          color="primary"
          (click)="openDirectorDetails(movie.director)"
        >
          Director
        </button>
        <button mat-button color="primary" (click)="openMovieDetails(movie)">
          Synopsis
        </button>
        <button mat-button color="primary" (click)="toggleFavorite(movie)">
          <mat-icon [class.favorite]="isFavorite(movie._id)">{{
            isFavorite(movie._id) ? "favorite" : "favorite_border"
          }}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <div *ngIf="!isUserLoggedIn()">
  <p>Please log in to view the movies.</p>
</div> -->
