.sticky-wrapper {
  position: sticky;
  top: 0; /* This will keep it at the top of the viewport when scrolling up/down */
  z-index: 10; /* This ensures it's above other content */
}

.movie-card {
  margin-top: 100px;
}
.movie-image {
  width: 200px; // Explicit width
  height: 300px; // Explicit height
  object-fit: cover; // Ensures image covers the given width/height while retaining aspect ratio
  cursor: pointer; // This will change the cursor to the "clickable" hand icon
  &:hover {
    // any additional hover styles you want to add
  }
}
mat-card-header {
  // display: flex;
  // justify-content: center; // Center contents horizontally
  // align-items: center; // Center contents vertically
  // text-align: center; // Center text

  // This is an optional style. By default, Angular Material puts some padding on the header.
  // You can adjust or remove this padding if you want the title and subtitle to be closer together.
  padding: 16px 0;
}
mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center; // Center contents horizontally
  align-items: center; // Center contents vertically
  text-align: center; // Center text
  background-color: rgb(164, 160, 160);

  // This is an optional style. By default, Angular Material puts some padding on the header.
  // You can adjust or remove this padding if you want the title and subtitle to be closer together.
  padding: 16px;
  margin: 10px;
}

.custom-snackbar {
  bottom: 170px !important; // Adjust as needed to lower the position of the snackbar
}
// Favorite Movie
.favorite {
  color: red;
}
