<!-- src/app/user-login-form/user-login-form.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.userName"
          placeholder="Username"
          type="text"
          name="userName"
          required
          #userName="ngModel"
        />
        <mat-error *ngIf="userName.invalid && userName.touched">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.password"
          type="password"
          placeholder="Password"
          name="password"
          required
          #password="ngModel"
        />
        <mat-error *ngIf="password.invalid && password.touched">
          Password is required.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      (click)="loginUser(loginForm)"
      [disabled]="!loginForm.valid"
      color="primary"
    >
      Login
    </button>
  </mat-card-actions>
</mat-card>
