<!DOCTYPE html>
<!-- <div class="main-page">
  <h1>Welcome to TheFlix!</h1> -->
<!-- Adding the click event on the signup button -->
<!-- <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px"
    color="primary"
  >
    Sign Up
  </button>
  <button
    mat-raised-button
    (click)="openUserLoginDialog()"
    style="margin-right: 10px"
    color="primary"
  >
    Login
  </button>
  <button mat-raised-button color="primary" (click)="openMoviesDialog()">
    All Movies
  </button>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
