<!-- src/app/user-registration-form/user-registration-form.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.firstName"
          placeholder="First Name"
          type="text"
          name="firstName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.lastName"
          placeholder="Last Name"
          type="text"
          name="lastName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.userName"
          placeholder="Username"
          type="text"
          name="userName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.password"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.email"
          type="email"
          placeholder="Email"
          name="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.birthDate"
          type="date"
          placeholder="BirthDate"
          name="birthDate"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="registerUser()" color="primary">
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>
